		.console-wrapper {
			width: 50%;
			margin: 0 auto;
			}
		.console-wrapper > * {
			font-family: 'Calibri';
			}
		.simple-command-box {
			width: 100%;
			box-sizing: border-box;
			border: none;
			box-shadow: 0 0 5px silver;
			margin: 0;
			padding: 5px;
			}
		.simple-dropdown-menu {
			padding: 0 0 5px 0;
			margin: 0;
			border-left: 1px solid silver;
			border-right: 1px solid silver;
			border-bottom: 1px solid silver;
			box-shadow: 0 1px 5px silver;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			}
		.simple-dropdown-menu .choice {
			padding: 5px;
			list-style: none;
			cursor: pointer;
			}
			.simple-dropdown-menu .choice:nth-child(even) {
				background: #f1f1f1;
				}
			.simple-dropdown-menu .choice:hover {
					background: red;
					color: white;
				}
			.simple-dropdown-menu .choice.selected {
					background: red;
					color: white;
				}
				.simple-dropdown-menu .choice .name{
					font-weight: bold;
					}
				.simple-dropdown-menu .choice .description{
					font-style: oblique;
					margin-left: 1em;
					}