svg {
	display: block;
	margin: 0 auto;
	}

.node {
	font: 10px Calibri;
	font-weight: bolder;
	}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
	}

.link {
	fill: none;
	stroke: #9ecae1;
	stroke-width: 1.5px;
	}
